/*body-start*/ 
    /*color-start*/
$global-site-color:#000023; //цвет нашего сайта
$body-bg-color: scale-color($global-site-color, $lightness: -12.9%); // цвет фона сайта темнее на 12,9%
    /*color-end*/
    /*font-start*/
$body-font-family: Arial, Helvetica, sans-serif; //основной шрифт сайта
    /*font-end*/
/*body-end*/

/*header-start*/
    /*color-start*/
$header-text-color:#fff; //цвет текста хэдера
$header-fb-color:#fff; //цвет иконки фейсбук
$header-insta-color:#fc0; //цвет иконки инста
$header-menu-underline-color:#fc0; //цвет горизонтального меню при наведении
    /*color-end*/
/*header-end*/

/*content-start*/

/*content-end*/